/* Сброс базовых стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.0;
  background: linear-gradient(270deg, #0b0b0f, #1a0f2e, #140a1f);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
  color: white;  
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body.lock {
  overflow: hidden;
}


/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
}
.header__logo img,
.header__link {
  color: white; /* чтобы текст был виден на видео */
}

.header__logo img {
  height: 40px; /* размер логотипа */
  width: auto; /* сохраняет пропорции */
  display: block; /* убирает лишние отступы */
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.7));
}

.header__nav {
  display: flex;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.header__logo {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}

.name_web {
  display: none;
}

.header__nav.active {
  left: 0; /* выезжает */
}

.header__nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header__item + .header__item {
  margin-left: 3rem;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 4px 15px  #151515
}

.header__burger {
  display: none; 
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;
  z-index: 90;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


@media (max-width: 768px) {
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.name_web {
  display: block;
}

.header.scrolled {
  background: rgba(147, 114, 114, 0.7); /* темный фон */
  backdrop-filter: blur(6px);
}
  /* БУРГЕР */
  .header__burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
  }

    /* МЕНЮ */
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: rgba(65, 8, 39, 0.6);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 20px;
    
    transition: 0.3s;
  }

  .header__nav.active {
    left: 0;
  }

  .header__burger span {
    height: 3px;
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    transition: 0.4s;
  }

  .header__burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header__list {
    flex-direction: column;
    gap: 20px;
  }
}

/* HERO + ОФФЕР */
.hero {
  position: relative;
  height: 100vh; /* весь экран */
  overflow: hidden;
}

/* 🎥 Видео */
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 100%;
  min-height: 100%;
  transition: transform 0.1s linear;
  transform: translate(-50%, -50%);
  object-fit: cover;

  z-index: 1;
}

/* затемнение */
.hero__overlay {
  position: absolute;
  inset: 0; /* вместо top/left/right/bottom */

  background: rgba(0, 0, 0, 0.45);

  z-index: 1;
}

/* контейнер */
.hero__container {
  position: relative;
  z-index: 3;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #000000ed;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}

/* заголовок */
.hero__title {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 80px;
  letter-spacing: 1px;
  color: #78136f;
  text-shadow: 0 4px 15px #000000b3;
}

/* подзаголовок */
.hero__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.9;
}

/* блок оффера */
.hero__offer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* текст акции */
.hero__offer-text {
  font-size: 14px;
}

/* кнопка */
.hero__offer-btn {
  padding: 20px 50px;
  background: #980a79;
  color: #090909;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

/* hover эффект */
.hero__offer-btn:hover {
  background: #460121;
  color: #fff;
}

.hero__title,
.hero__subtitle,
.hero__offer {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

.hero__subtitle {
  animation-delay: 0.3s;
}

.hero__offer {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 768px) {
  .hero__title {
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 150px;
 
}

  .hero__subtitle {
    font-size: 30px;
  }

  .hero__offer-text {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 64px;
    margin-bottom: 45px;
    color: #f853e9;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  }
}


/* УСЛУГИ + ЦЕНЫ */
.services {
  padding: 80px 20px;
}

.services__container {
  max-width: 1200px;
  margin: 0 auto;
}

.services__title {
text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #fff;
}

.services__btn {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  background: #980a79;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  z-index: 2;
  position: relative;
  transition: 0.3s;
}

.services__btn:hover {
  background: #460121;
  transform: scale(1.05);
}

.services__link {
  display: none;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.services__item {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  backdrop-filter: blur(10px);
}

.services__item:hover {
  transform: translateY(-5px);
}

.services__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.services__name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 15px;
}

.services__price {
  color: #ff6b6b;
  font-weight: bold;
  padding: 0 15px 20px;
}

.services__item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 768px) {

  /* убираем кнопку */
  .services__btn {
    display: none;
  }

  /* включаем кликабельную карточку */
  .services__link {
    display: block;
    position: absolute;
    inset: 0; 
    z-index: 1;
  }
}


/* ГАЛЕРЕЯ */
.gallery {
  padding: 3rem 1rem;
}

.gallery__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.gallery__slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.gallery__slide {
  min-width: 100%; /* каждая картинка на весь экран */
  height: 80vh; /* почти весь экран */
  scroll-snap-align: center;
  position: relative;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;;
}

.gallery__item:hover .gallery__img {
  transform: scale(1.1);
}

@media (min-width: 768px) {

  .gallery__slider {
    display: grid; /* 🔥 меняем flex на grid */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    overflow: visible; /* убираем скролл */
  }

  .gallery__slide {
    min-width: auto;
    height: 250px; /* фикс высота */
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* тут уже норм, потому что маленькие блоки */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .gallery__img:hover {
    transform: scale(1.05); /* 🔥 лёгкий ховер */
  }
}


.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  z-index: 1000;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup__img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
  animation: zoom 0.3s ease;
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.popup__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  z-index: 1001;
}

.popup__arrow--left {
  left: 20px;
}

.popup__arrow--right {
  right: 20px;
}

@media (max-width: 768px) {
  .popup__arrow {
    display: none;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* О МАСТЕРЕ */
.about {
  padding: 3rem 1rem;
  text-align: center;
}

.about__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* ОТЗЫВЫ */
.reviews {
  padding: 3rem 1rem;
}

.reviews__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

/* КОНТАКТЫ */
.contacts {
  padding: 3rem 1rem;
  text-align: center;
}

.contacts__input {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 250px;
}

.contacts__btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: transparent;
  padding: 1rem;
  text-align: center;
}
